<?xml version="1.0"?>
<launch>
    <arg name="namespace_prefix" default="UR10_Move" />
    <arg name="robot_ip" doc="The IP address of the UR10 robot" />
 
  
   
      <!-- start the robot -->
    <include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch" pass_all_args="true">
       
        <arg name="robot_ip" value="144.32.33.108" />
        <arg name="limited" value="true"/>
       
    </include>



    <include file="$(find ur5e_moveit_config)/launch/moveit_planning_execution.launch" pass_all_args="true">
    
     
    

        
    </include> 
    
</launch>
